@using MovieDB.Classes;
@using System.Drawing;
@model MovieDB.Models.Movie

@{
    ViewBag.Title = "Details";
}

<head>
    <script type="text/javascript">
 function showhide(id) {
    var e = document.getElementById(id);
    e.style.display = (e.style.display == 'block') ? 'none' : 'block';
 }
    </script>
</head>

<h2>Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Title)</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Director)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Director)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            @Html.DisplayName("Rating (0/10)")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayName("Release Date")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayName("Summary")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>
        <br />
        <dt>
            @*@Html.DisplayNameFor(model => model.Image)*@
            Poster
        </dt>

        <dd>
            @{ if (Model.Image != null)
                {
                    <img src="data:image;base64,@System.Convert.ToBase64String(Model.Image)" width="182" height="270" />
                }
            }
            
        </dd>
        <br />
        @if(Model.Comments.Any())
        {
            <dt>
                Comments:
            </dt>
            foreach(var comment in Model.Comments)
            {
                <dd>
                    @comment.Text
                    @if(@comment.Author != null)
                    {
                        @: (by @comment.Author.FullName)
                    }
                    <p style="font-size:smaller">Added on: @comment.Date</p>
                </dd>
                <br />
            }
        }
        <dt>
            <button onclick="javascript:showhide('addComment')" class="btn btn-default">
                Add Comment
            </button>
        </dt>
        <dd>
            <div id="addComment" style="display:none;">
                @Html.Action("Create", "Comments", new { movieId = Model.Id })
            </div>
        </dd>
    </dl>
</div>





<br />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
