@using MovieDB.Classes;
@using MovieDB.Models;
@using MovieDB.Classes;
@using Microsoft.AspNet.Identity;

@using PagedList;

@using PagedList.Mvc;

@model IPagedList<MovieDB.Models.Movie>

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Movies";
}

<h2>Movies</h2>

<p>
    @Html.ActionLink("Add New Movie", "Create")
</p>

@using (Html.BeginForm("Index", "Movies", FormMethod.Get))
{
    <br>
    <p>
        <b>Search by:</b>&nbsp @Html.RadioButton("option","Title") <text>Title</text>&nbsp @Html.RadioButton("option", "Description Keyword") <text>Description Keyword</text>&nbsp @Html.RadioButton("option", "Director") <text>Director</text>&nbsp @Html.RadioButton("option", "Genre") <text>Genre</text> &nbsp @Html.RadioButton("option", "Rating (0/10)") <text>Rating</text>&nbsp @Html.TextBox("search")<input type="submit" name="submit" value="Search"/>
    </p>
   <br>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Title", "Index", new { sort = ViewBag.NameSortParm, option = Request.QueryString["option"], search = Request.QueryString["search"] })
        </th>
        <th>
            Summary
        </th>
        <th>
            @Html.ActionLink("Director", "Index", new { sort = ViewBag.DirectorSortParm, option = Request.QueryString["option"], search = Request.QueryString["search"] })
        </th>
        <th>
            @Html.ActionLink("Genre", "Index", new { sort = ViewBag.GenreSortParm, option = Request.QueryString["option"], search = Request.QueryString["search"] })
        </th>
        <th>
            @Html.ActionLink("Rating (0/10)", "Index", new { sort = ViewBag.RatingSortParm, option = Request.QueryString["option"], search = Request.QueryString["search"] })
        </th>
        <th>
            @Html.ActionLink("Release Date", "Index", new { sort = ViewBag.DateSortParm, option = Request.QueryString["option"], search = Request.QueryString["search"] })
        </th>
        
        <th>
        </th>
    </tr>

@if (Model.Count() == 0)
{
    <tr><td colspan = "5"> <b> Sorry, no records match your request.</b> </td></tr>
}
else
{
    foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Utils.CutText(item.Body)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Director)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        @*<td>
            @if (item.Author != null)
            {
                @item.Author.UserName
            }
            else
            {
                <i>(no author)</i>
            }
        </td>*@
        <td>
            @if (ViewContext.HttpContext.User.IsInRole("Administrators") || item.Author_Id == ViewContext.HttpContext.User.Identity.GetUserId())
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) 
            }
            @Html.ActionLink("Details", "Details", new { id = item.Id })
            @if (ViewContext.HttpContext.User.IsInRole("Administrators") || item.Author_Id == ViewContext.HttpContext.User.Identity.GetUserId())
            {
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            }
        </td>
    </tr>
}}

</table>

@{
    if (Model.PageCount > 1)
    {
        @Html.PagedListPager(Model, pageNumber => Url.Action("Index", new {pageNumber, option = Request.QueryString["option"],
       search = Request.QueryString["search"],
       sort = Request.QueryString["sort"]
   }))
    }
}