@using MovieDB.Classes;
@using MovieDB.Models;

@model IEnumerable<Movie>

@{
    ViewBag.Title = "Movies";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Title)*@
            Title
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Body)*@
            Description
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Date)*@
            Date
        </th>
        <th>
            Added by
        </th>
        <th>
            Actions
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Utils.CutText(item.Body)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @if (item.Author != null)
            {
                @item.Author.UserName
            } else
            {
                <i>(no author)</i>
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
