@using MovieDB.Classes;
@using MovieDB.Models;


@{
    ViewBag.Title = "Home";
}

@model List<MovieDB.Models.Movie>
<section class="row">
    @foreach (var movie in Model)
    {
        <article class="post col-md-6">
            <h2 class="title">@movie.Title</h2>
            <div class="about">
                Added by <i>@movie.Author.FullName (@movie.Author.UserName)</i> on <i>@movie.Date</i>
            </div>
            <div class="body">@Html.Raw(movie.Body)</div>
        </article>
    }
</section>
